.footer-head {
    padding: 62px 10px;
    display: inline-block;
}

.category {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    width: 99px;
    font-size: 16px;
    line-height: 140.62%;
    padding-bottom: 31px;

    color: #000000;
}

.footer_hr-line {
    border: 1px solid #EFEFEF;
    width: 255px;
    display: inline-block;
}

.footer-list {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
}

.footer-list a {
    color: #828282;
    display: block;
}

.footer-first {
    padding-left: 0;
}

.footer-last {
    padding-right: 0;
}

.down-hr-line {
    border: 1px solid #EFEFEF;
}

.network{
    padding: 33px 0;
    display: inline-block;
}

.network_button {
    display: inline-block;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    border-radius: 50%;
    background: #FFFFFF;
    margin: 0 10px;
    width: 45px;
    height: 46.05px;
}

.network img {
    display: inline;
    vertical-align: middle;
    text-align: center;
}

.beauty_right-footer {
    display: block;
    float: right;
    padding: 33px 0;
}

.network_first {
    margin-left: 0;
}

.footer_down {
    background: #EFEFEF;
    padding: 25px 0;
}

.footer_down p {
    font-family: "Roboto";
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.footer_link {
    color: #828282;
    padding: 25px 0;
}

.footer_right {
    display: block;
    float: right;
}